# Proyecto
Para este módulo es necesario extraer la información de los archivos .json dentro del dataset, por lo cual se importan los módulos *pandas, numpy, ast, matplotlib*.

In [2]:
import pandas as pd
import numpy as np
from ast import literal_eval
import matplotlib
import nltk

## Games
Se limpia la información de los juegos que tenemos a mano, teniendo en cuenta que solo es necesario los datos sobre su ID (que nos permitirá relacionarlo con los otros archivos para conseguir la información que se requiere), nombre, año de lanzamiento, desarrolladora, distribuidora y genero.

In [3]:
#with open('Dataset/steam_games.json') as g:
#    rows = [literal_eval(row) for row in g.readlines()]
games = pd.read_json('Dataset/steam_games.json', lines=True)
games = games.drop(columns=['url','reviews_url','specs', 'price', 'tags','early_access']) # Una vez analizado, se determinó que estas columnas no contienen información relevante
games['año'] = games['release_date'].str.extract(r'(\d{4})')                              # Se toma el dato sobre la fecha en que salió el juego, la cual será relevante más adelante
games = games.drop(columns=['release_date'])                                              # Este campo ya no tiene ninguna relevancia
games = games.dropna(axis=0,how="any",subset=['genres','developer','año'])                # Se eliminan los campos que estén vacios, no puede existir juego si no tiene desarrollador, genero o año de salida
games = games.sort_values(by='id')                                                        # Se ordenan los datos según si id
games = games.drop_duplicates(subset=['title','app_name','año'])                          # Se busca eliminar datos repetidos, pueden existir juegos con el mismo nombre pero que hayan salido en diferentes años o teniendo generos diferentes
games = games.drop(columns=['app_name'])                                                  # Columna con datos duplicados

def floatToStr(n):
    '''Funcion que me permite usar un tipo de dato diferente para los id, el cual mejora su uso para comparaciones.'''
    return str(int(n))

games['id'] = games['id'].apply(floatToStr)                                               # Se usa la función y se retorna a su respectiva serie

games # Mostrar los datos con los que se va a trabajar

,publisher,genres,title,id,developer,año
120416,Valve,[Action],Counter-Strike,10,Valve,2000
120413,Valve,[Action],Team Fortress Classic,20,Valve,1999
120424,Valve,[Action],Day of Defeat,30,Valve,2003
120418,Valve,[Action],Deathmatch Classic,40,Valve,2001
120414,Valve,[Action],Half-Life: Opposing Force,50,Gearbox Software,1999
...,...,...,...,...,...,...
118903,Ubisoft,[Action],Tom Clancy's Ghost Recon Future Soldier - Seas...,2028055,"Ubisoft Paris,Red Storm Entertainment",2012
118999,Team17 Digital Ltd,[Strategy],Worms Revolution Season Pass,2028056,Team17 Digital Ltd.,2012
118632,Activision,[Action],Call of Duty®: Black Ops II Season Pass,2028062,Treyarch,2013
118834,Ubisoft,"[Action, Adventure]",Assassin’s Creed® III Season Pass,2028103,Ubisoft Montreal,2012
89735,"2K Games, Aspyr (Mac)",[Action],Bioshock Infinite: Columbia's Finest,2028850,"Irrational Games,Aspyr (Mac),Virtual Programmi...",2013

## Reviews
Se toman los archivos dentro de user_reviews.json, del cual podemos identificar la identificación del usuario, el url hacia su perfil y finalmente el comentario o comentarios que realizo el mismo.

Es considerado importante la información que existe dentro de las reviews, más no quien emitió esta review. por lo que en consecuencia se separa la lista de reviews para convertirla en un dataframe individual.

In [3]:
with open('Dataset/user_reviews.json', 'r', encoding='utf-8') as file:
    rows = [literal_eval(row) for row in file.readlines()]
reviews = pd.DataFrame(rows)
reviews = reviews.drop(columns=["user_url"])                    # El link de la review no tiene relevancia para este caso
#reviews = reviews.dropna(axis=0,how="any",subset=['reviews','user_id']) usado en caso de que existieran valores nulos, se comprobó que no es así
reviews

                 user_id                                            reviews
0      76561197970982479  [{'funny': '', 'posted': 'Posted November 5, 2...
1                js41637  [{'funny': '', 'posted': 'Posted June 24, 2014...
2              evcentric  [{'funny': '', 'posted': 'Posted February 3.',...
3                  doctr  [{'funny': '', 'posted': 'Posted October 14, 2...
4              maplemage  [{'funny': '3 people found this review funny',...
...                  ...                                                ...
25794  76561198306599751  [{'funny': '', 'posted': 'Posted May 31.', 'la...
25795           Ghoustik  [{'funny': '', 'posted': 'Posted June 17.', 'l...
25796  76561198310819422  [{'funny': '1 person found this review funny',...
25797  76561198312638244  [{'funny': '', 'posted': 'Posted July 21.', 'l...
25798        LydiaMorley  [{'funny': '1 person found this review funny',...

[25799 rows x 2 columns]

In [5]:
# Separan los reviews y se usa un dataframe aparte para poder obtener los datos necesarios para verificar los juegos recomendados
lista_reviews = []
for i in reviews['reviews']:
    lista_reviews.append(i)
    
reviews_individual = pd.DataFrame(lista_reviews[0])
reviews_individual

lista2_reviews = lista_reviews[1:]
for e in lista2_reviews:
    aux = pd.DataFrame(e)
    reviews_individual = pd.concat((reviews_individual,aux),ignore_index=True)

reviews_individual

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,Simple yet with great replayability. In my opi...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,It's unique and worth a playthrough.
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,Great atmosphere. The gunplay can be a bit chu...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,I know what you think when you see this title ...
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,For a simple (it's actually not all that simpl...
...,...,...,...,...,...,...,...
59300,,Posted July 10.,,70,No ratings yet,True,a must have classic from steam definitely wort...
59301,,Posted July 8.,,362890,No ratings yet,True,this game is a perfect remake of the original ...
59302,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,had so much fun plaing this and collecting res...
59303,,Posted July 20.,,730,No ratings yet,True,:D
59304,,Posted July 2.,,440,No ratings yet,True,so much fun :D

## Sentiment analysis
Se toma en consideración el analisis de los comentarios dentro del dataframe de reviews individuales, donde se toma en cuenta el significado de las palabras bajo el esquema NLP, que se mide según comentario positivo (2), neutro (1) o negativo (0).

Se hace uso de nltk como librería que nos ayudará a realizar todas las operaciones dentro de los comentarios.

In [6]:
# Con reviews individual se cambia reviews por comentario positivo (2), neutro (1), negativo (0)
nltk.download('all')
from nltk.sentiment.vader import SentimentIntensityAnalyzer as sia
from nltk.corpus import stopwords as sw
from nltk.tokenize import word_tokenize as wt
from nltk.stem import WordNetLemmatizer as wnl

[nltk_data] Downloading collection 'all'
[nltk_data]    |
[nltk_data]    | Downloading package abc to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package abc is already up-to-date!
[nltk_data]    | Downloading package alpino to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package alpino is already up-to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package averaged_perceptron_tagger_ru to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package averaged_perceptron_tagger_ru is already
[nltk_data]    |       up-to-date!
[nltk_data]    | Downloading package basque_grammars to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package basque_grammars is already up-to-date!
[nltk_data]    | Downloading package bcp47 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package bcp47 is already up-to-date!
[nltk_data]    | Downloading package biocreative_ppi to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package biocreative_ppi is already up-to-date!
[nltk_data]    | Downloading package bllip_wsj_no_aux to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package bllip_wsj_no_aux is already up-to-date!
[nltk_data]    | Downloading package book_grammars to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package book_grammars is already up-to-date!
[nltk_data]    | Downloading package brown to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package brown is already up-to-date!
[nltk_data]    | Downloading package brown_tei to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package brown_tei is already up-to-date!
[nltk_data]    | Downloading package cess_cat to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package cess_cat is already up-to-date!
[nltk_data]    | Downloading package cess_esp to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package cess_esp is already up-to-date!
[nltk_data]    | Downloading package chat80 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package chat80 is already up-to-date!
[nltk_data]    | Downloading package city_database to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package city_database is already up-to-date!
[nltk_data]    | Downloading package cmudict to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package cmudict is already up-to-date!
[nltk_data]    | Downloading package comparative_sentences to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package comparative_sentences is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package comtrans to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package comtrans is already up-to-date!
[nltk_data]    | Downloading package conll2000 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package conll2000 is already up-to-date!
[nltk_data]    | Downloading package conll2002 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package conll2002 is already up-to-date!
[nltk_data]    | Downloading package conll2007 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package conll2007 is already up-to-date!
[nltk_data]    | Downloading package crubadan to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package crubadan is already up-to-date!
[nltk_data]    | Downloading package dependency_treebank to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package dependency_treebank is already up-to-date!
[nltk_data]    | Downloading package dolch to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package dolch is already up-to-date!
[nltk_data]    | Downloading package europarl_raw to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package europarl_raw is already up-to-date!
[nltk_data]    | Downloading package extended_omw to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package extended_omw is already up-to-date!
[nltk_data]    | Downloading package floresta to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package floresta is already up-to-date!
[nltk_data]    | Downloading package framenet_v15 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package framenet_v15 is already up-to-date!
[nltk_data]    | Downloading package framenet_v17 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package framenet_v17 is already up-to-date!
[nltk_data]    | Downloading package gazetteers to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package gazetteers is already up-to-date!
[nltk_data]    | Downloading package genesis to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package genesis is already up-to-date!
[nltk_data]    | Downloading package gutenberg to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package gutenberg is already up-to-date!
[nltk_data]    | Downloading package ieer to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package ieer is already up-to-date!
[nltk_data]    | Downloading package inaugural to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package inaugural is already up-to-date!
[nltk_data]    | Downloading package indian to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package indian is already up-to-date!
[nltk_data]    | Downloading package jeita to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package jeita is already up-to-date!
[nltk_data]    | Downloading package kimmo to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package kimmo is already up-to-date!
[nltk_data]    | Downloading package knbc to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package knbc is already up-to-date!
[nltk_data]    | Downloading package large_grammars to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package large_grammars is already up-to-date!
[nltk_data]    | Downloading package lin_thesaurus to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package lin_thesaurus is already up-to-date!
[nltk_data]    | Downloading package mac_morpho to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package mac_morpho is already up-to-date!
[nltk_data]    | Downloading package machado to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package machado is already up-to-date!
[nltk_data]    | Downloading package masc_tagged to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package masc_tagged is already up-to-date!
[nltk_data]    | Downloading package maxent_ne_chunker to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package maxent_ne_chunker is already up-to-date!
[nltk_data]    | Downloading package maxent_treebank_pos_tagger to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package maxent_treebank_pos_tagger is already up-
[nltk_data]    |       to-date!
[nltk_data]    | Downloading package moses_sample to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package moses_sample is already up-to-date!
[nltk_data]    | Downloading package movie_reviews to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package movie_reviews is already up-to-date!
[nltk_data]    | Downloading package mte_teip5 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package mte_teip5 is already up-to-date!
[nltk_data]    | Downloading package mwa_ppdb to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package mwa_ppdb is already up-to-date!
[nltk_data]    | Downloading package names to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package names is already up-to-date!
[nltk_data]    | Downloading package nombank.1.0 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package nombank.1.0 is already up-to-date!
[nltk_data]    | Downloading package nonbreaking_prefixes to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package nonbreaking_prefixes is already up-to-date!
[nltk_data]    | Downloading package nps_chat to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package nps_chat is already up-to-date!
[nltk_data]    | Downloading package omw to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package omw is already up-to-date!
[nltk_data]    | Downloading package omw-1.4 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package omw-1.4 is already up-to-date!
[nltk_data]    | Downloading package opinion_lexicon to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package opinion_lexicon is already up-to-date!
[nltk_data]    | Downloading package panlex_swadesh to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package panlex_swadesh is already up-to-date!
[nltk_data]    | Downloading package paradigms to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package paradigms is already up-to-date!
[nltk_data]    | Downloading package pe08 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package pe08 is already up-to-date!
[nltk_data]    | Downloading package perluniprops to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package perluniprops is already up-to-date!
[nltk_data]    | Downloading package pil to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package pil is already up-to-date!
[nltk_data]    | Downloading package pl196x to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package pl196x is already up-to-date!
[nltk_data]    | Downloading package porter_test to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package porter_test is already up-to-date!
[nltk_data]    | Downloading package ppattach to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package ppattach is already up-to-date!
[nltk_data]    | Downloading package problem_reports to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package problem_reports is already up-to-date!
[nltk_data]    | Downloading package product_reviews_1 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package product_reviews_1 is already up-to-date!
[nltk_data]    | Downloading package product_reviews_2 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package product_reviews_2 is already up-to-date!
[nltk_data]    | Downloading package propbank to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package propbank is already up-to-date!
[nltk_data]    | Downloading package pros_cons to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package pros_cons is already up-to-date!
[nltk_data]    | Downloading package ptb to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package ptb is already up-to-date!
[nltk_data]    | Downloading package punkt to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package punkt is already up-to-date!
[nltk_data]    | Downloading package qc to /home/jonasa12/nltk_data...
[nltk_data]    |   Package qc is already up-to-date!
[nltk_data]    | Downloading package reuters to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package reuters is already up-to-date!
[nltk_data]    | Downloading package rslp to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package rslp is already up-to-date!
[nltk_data]    | Downloading package rte to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package rte is already up-to-date!
[nltk_data]    | Downloading package sample_grammars to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package sample_grammars is already up-to-date!
[nltk_data]    | Downloading package semcor to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package semcor is already up-to-date!
[nltk_data]    | Downloading package senseval to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package senseval is already up-to-date!
[nltk_data]    | Downloading package sentence_polarity to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package sentence_polarity is already up-to-date!
[nltk_data]    | Downloading package sentiwordnet to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package sentiwordnet is already up-to-date!
[nltk_data]    | Downloading package shakespeare to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package shakespeare is already up-to-date!
[nltk_data]    | Downloading package sinica_treebank to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package sinica_treebank is already up-to-date!
[nltk_data]    | Downloading package smultron to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package smultron is already up-to-date!
[nltk_data]    | Downloading package snowball_data to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package snowball_data is already up-to-date!
[nltk_data]    | Downloading package spanish_grammars to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package spanish_grammars is already up-to-date!
[nltk_data]    | Downloading package state_union to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package state_union is already up-to-date!
[nltk_data]    | Downloading package stopwords to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package stopwords is already up-to-date!
[nltk_data]    | Downloading package subjectivity to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package subjectivity is already up-to-date!
[nltk_data]    | Downloading package swadesh to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package swadesh is already up-to-date!
[nltk_data]    | Downloading package switchboard to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package switchboard is already up-to-date!
[nltk_data]    | Downloading package tagsets to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package tagsets is already up-to-date!
[nltk_data]    | Downloading package timit to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package timit is already up-to-date!
[nltk_data]    | Downloading package toolbox to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package toolbox is already up-to-date!
[nltk_data]    | Downloading package treebank to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package treebank is already up-to-date!
[nltk_data]    | Downloading package twitter_samples to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package twitter_samples is already up-to-date!
[nltk_data]    | Downloading package udhr to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package udhr is already up-to-date!
[nltk_data]    | Downloading package udhr2 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package udhr2 is already up-to-date!
[nltk_data]    | Downloading package unicode_samples to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package unicode_samples is already up-to-date!
[nltk_data]    | Downloading package universal_tagset to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package universal_tagset is already up-to-date!
[nltk_data]    | Downloading package universal_treebanks_v20 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package universal_treebanks_v20 is already up-to-
[nltk_data]    |       date!
[nltk_data]    | Downloading package vader_lexicon to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package vader_lexicon is already up-to-date!
[nltk_data]    | Downloading package verbnet to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package verbnet is already up-to-date!
[nltk_data]    | Downloading package verbnet3 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package verbnet3 is already up-to-date!
[nltk_data]    | Downloading package webtext to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package webtext is already up-to-date!
[nltk_data]    | Downloading package wmt15_eval to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package wmt15_eval is already up-to-date!
[nltk_data]    | Downloading package word2vec_sample to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package word2vec_sample is already up-to-date!
[nltk_data]    | Downloading package wordnet to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package wordnet is already up-to-date!
[nltk_data]    | Downloading package wordnet2021 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package wordnet2021 is already up-to-date!
[nltk_data]    | Downloading package wordnet2022 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package wordnet2022 is already up-to-date!
[nltk_data]    | Downloading package wordnet31 to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package wordnet31 is already up-to-date!
[nltk_data]    | Downloading package wordnet_ic to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package wordnet_ic is already up-to-date!
[nltk_data]    | Downloading package words to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package words is already up-to-date!
[nltk_data]    | Downloading package ycoe to
[nltk_data]    |     /home/jonasa12/nltk_data...
[nltk_data]    |   Package ycoe is already up-to-date!
[nltk_data]    |
[nltk_data]  Done downloading collection all

In [7]:
def tokenizeText(text:str):
    '''Toma una cadena de texto para filtrar las palabras, si existen en ingles, además si son de un lenguaje las cuales sean útiles para lo que se necesita'''
    tokens = wt(text.lower())
    f_tokens = [token for token in tokens if token not in sw.words('english')]
    lemmatizer = wnl()
    l_tokens = [lemmatizer.lemmatize(token) for token in f_tokens]
    p_text = ' '.join(l_tokens)
    return p_text

reviews_individual['review'] = reviews_individual['review'].apply(tokenizeText)
reviews_individual

,funny,posted,last_edited,item_id,helpful,recommend,review
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,simple yet great replayability . opinion `` zo...
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,'s unique worth playthrough .
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,great atmosphere . gunplay bit chunky time end...
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,know think see title `` barbie dreamhouse part...
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,simple ( 's actually simple ! ) truck driving ...
...,...,...,...,...,...,...,...
59300,,Posted July 10.,,70,No ratings yet,True,must classic steam definitely worth buying .
59301,,Posted July 8.,,362890,No ratings yet,True,game perfect remake original half life . perso...
59302,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,much fun plaing collecting resource xd first t...
59303,,Posted July 20.,,730,No ratings yet,True,:
59304,,Posted July 2.,,440,No ratings yet,True,much fun :

In [8]:
# Se analizan los datos de review que se tienen
analyzer = sia()
def get_sentiment(text:str):
    score = analyzer.polarity_scores(text)
    
    sentiment = 0
    if score['pos'] > score['neg']:
        if score['pos'] > score['neu']:
            sentiment = 2
        else:
            sentiment = 1
    else:
        if score['neg'] < score['neu']:
            sentiment = 1
    return sentiment
reviews_individual['sentiment'] = reviews_individual['review'].apply(get_sentiment)
reviews_individual

,funny,posted,last_edited,item_id,helpful,recommend,review,sentiment
0,,"Posted November 5, 2011.",,1250,No ratings yet,True,simple yet great replayability . opinion `` zo...,1
1,,"Posted July 15, 2011.",,22200,No ratings yet,True,'s unique worth playthrough .,1
2,,"Posted April 21, 2011.",,43110,No ratings yet,True,great atmosphere . gunplay bit chunky time end...,1
3,,"Posted June 24, 2014.",,251610,15 of 20 people (75%) found this review helpful,True,know think see title `` barbie dreamhouse part...,1
4,,"Posted September 8, 2013.",,227300,0 of 1 people (0%) found this review helpful,True,simple ( 's actually simple ! ) truck driving ...,1
...,...,...,...,...,...,...,...,...
59300,,Posted July 10.,,70,No ratings yet,True,must classic steam definitely worth buying .,2
59301,,Posted July 8.,,362890,No ratings yet,True,game perfect remake original half life . perso...,2
59302,1 person found this review funny,Posted July 3.,,273110,1 of 2 people (50%) found this review helpful,True,much fun plaing collecting resource xd first t...,1
59303,,Posted July 20.,,730,No ratings yet,True,:,0
59304,,Posted July 2.,,440,No ratings yet,True,much fun :,2

In [9]:
reviews_individual = reviews_individual.drop(columns=['funny', 'posted', 'last_edited', 'helpful', 'review'])
reviews_individual

      item_id  recommend  sentiment
0        1250       True          1
1       22200       True          1
2       43110       True          1
3      251610       True          1
4      227300       True          1
...       ...        ...        ...
59300      70       True          2
59301  362890       True          2
59302  273110       True          1
59303     730       True          0
59304     440       True          2

[59305 rows x 3 columns]

In [10]:
# Prueba basada en los juegos del año 2013
variable = games[games['año'] == '2013']
variable

,publisher,genres,title,id,developer,año
118109,Egosoft,"[Action, Simulation]",X Rebirth,2870,Egosoft,2013
118587,"2K Games, Aspyr (Mac)",[Action],BioShock Infinite,8870,"Irrational Games,Aspyr (Mac),Virtual Programmi...",2013
89577,"Hidden Path Entertainment, Inc.","[Strategy, Indie]",Defense Grid: Containment DLC,18523,"Hidden Path Entertainment, Inc.",2013
89566,Three Donkeys LLC,"[Indie, Strategy]",Spectromancer: Gathering of Power,22521,"Apus Software,Three Donkeys LLC",2013
119669,Dovetail Games - Trains,[Simulation],Train Simulator: Doncaster Works Route Add-On,24095,Dovetail Games,2013
...,...,...,...,...,...,...
102163,FeelThere,"[Casual, Indie, Strategy]",Bunny Mania 2,746770,Crispy Software Development,2013
102235,baKno Games,"[Casual, Indie, Simulation]",Yatzy,749010,baKno Games,2013
101185,Alawar Entertainment,"[Adventure, Casual, Indie]",Forest Legends: The Call of Love Collector's E...,765770,Alawar Stargaze,2013
118632,Activision,[Action],Call of Duty®: Black Ops II Season Pass,2028062,Treyarch,2013
89735,"2K Games, Aspyr (Mac)",[Action],Bioshock Infinite: Columbia's Finest,2028850,"Irrational Games,Aspyr (Mac),Virtual Programmi...",2013

### User Recommend
Para las recomendaciones de los usuarios se puede poner un archivo con los datos de tal forma que: id_juego, cantidad de *recomendaciones*, cantidad de *no recomendaciones*, año de lanzamiento. Para mostrar la información se tiene que hace sort en la columna necesaria

In [11]:
recommend = []
try:
    for i in variable['id']:
        scores = reviews_individual[reviews_individual['item_id'] == i]
        value = scores['recommend'].value_counts()
        #print(value)
        if value.__len__() == 0:
            continue
        else:
            if value.__len__() == 1:
                j = value.keys()
                for k in j:
                    if k:
                        recommend.append({"id":i,"value":value[True]})
except:
    print(recommend)

In [12]:
print(recommend)
salida = sorted(recommend, key=lambda i: i['value'], reverse=True)
print(salida[0:3])
output = salida[0:3]
nombres = []
for o in salida[0:3]:
    df = games[games['id']==o['id']]
    nombres.append(df['title'].values)
print(f"Los juegos mas recomendados en 2013 son: 1: '{nombres[0][0]}', 2: '{nombres[1][0]}', 3: '{nombres[2][0]}'")

[{'id': '35720', 'value': 29}, {'id': '39140', 'value': 21}, {'id': '39150', 'value': 11}, {'id': '105420', 'value': 1}, {'id': '108600', 'value': 46}, {'id': '201420', 'value': 2}, {'id': '204240', 'value': 7}, {'id': '204450', 'value': 39}, {'id': '207930', 'value': 1}, {'id': '208352', 'value': 1}, {'id': '208520', 'value': 4}, {'id': '209520', 'value': 1}, {'id': '210870', 'value': 1}, {'id': '210898', 'value': 3}, {'id': '211523', 'value': 1}, {'id': '212480', 'value': 37}, {'id': '212893', 'value': 2}, {'id': '213850', 'value': 10}, {'id': '214930', 'value': 1}, {'id': '214931', 'value': 1}, {'id': '214933', 'value': 1}, {'id': '215530', 'value': 7}, {'id': '215630', 'value': 1}, {'id': '215690', 'value': 1}, {'id': '215710', 'value': 1}, {'id': '215870', 'value': 1}, {'id': '217100', 'value': 2}, {'id': '217690', 'value': 2}, {'id': '218550', 'value': 2}, {'id': '219092', 'value': 2}, {'id': '219103', 'value': 3}, {'id': '219190', 'value': 3}, {'id': '219340', 'value': 1}, {'id': '220090', 'value': 1}, {'id': '220260', 'value': 15}, {'id': '220440', 'value': 17}, {'id': '220900', 'value': 2}, {'id': '221040', 'value': 18}, {'id': '221810', 'value': 2}, {'id': '222520', 'value': 6}, {'id': '222587', 'value': 1}, {'id': '222660', 'value': 1}, {'id': '222940', 'value': 7}, {'id': '223810', 'value': 1}, {'id': '224460', 'value': 8}, {'id': '224820', 'value': 8}, {'id': '225080', 'value': 38}, {'id': '225340', 'value': 2}, {'id': '225833', 'value': 1}, {'id': '226459', 'value': 1}, {'id': '226620', 'value': 3}, {'id': '226720', 'value': 6}, {'id': '226740', 'value': 5}, {'id': '227260', 'value': 1}, {'id': '227480', 'value': 8}, {'id': '227580', 'value': 3}, {'id': '227600', 'value': 1}, {'id': '227800', 'value': 1}, {'id': '228300', 'value': 12}, {'id': '228400', 'value': 4}, {'id': '228440', 'value': 1}, {'id': '228960', 'value': 2}, {'id': '230050', 'value': 27}, {'id': '230820', 'value': 1}, {'id': '231140', 'value': 3}, {'id': '231160', 'value': 8}, {'id': '231310', 'value': 4}, {'id': '231330', 'value': 1}, {'id': '231740', 'value': 5}, {'id': '232950', 'value': 1}, {'id': '232970', 'value': 1}, {'id': '233190', 'value': 1}, {'id': '233370', 'value': 1}, {'id': '233550', 'value': 1}, {'id': '234080', 'value': 1}, {'id': '234160', 'value': 2}, {'id': '234390', 'value': 8}, {'id': '234650', 'value': 8}, {'id': '234772', 'value': 1}, {'id': '234792', 'value': 1}, {'id': '235250', 'value': 4}, {'id': '235360', 'value': 2}, {'id': '235580', 'value': 5}, {'id': '235780', 'value': 7}, {'id': '235980', 'value': 1}, {'id': '236090', 'value': 41}, {'id': '236450', 'value': 19}, {'id': '236730', 'value': 1}, {'id': '237630', 'value': 4}, {'id': '237760', 'value': 1}, {'id': '238260', 'value': 4}, {'id': '238300', 'value': 2}, {'id': '238890', 'value': 1}, {'id': '239700', 'value': 1}, {'id': '239720', 'value': 2}, {'id': '239800', 'value': 9}, {'id': '240600', 'value': 1}, {'id': '241410', 'value': 1}, {'id': '241600', 'value': 44}, {'id': '241910', 'value': 1}, {'id': '242570', 'value': 5}, {'id': '242820', 'value': 6}, {'id': '243200', 'value': 1}, {'id': '243280', 'value': 1}, {'id': '243360', 'value': 1}, {'id': '243780', 'value': 2}, {'id': '243800', 'value': 3}, {'id': '244710', 'value': 7}, {'id': '244810', 'value': 1}, {'id': '244870', 'value': 17}, {'id': '244890', 'value': 1}, {'id': '245150', 'value': 1}, {'id': '245280', 'value': 6}, {'id': '245910', 'value': 1}, {'id': '246255', 'value': 1}, {'id': '246580', 'value': 7}, {'id': '246640', 'value': 1}, {'id': '247140', 'value': 2}, {'id': '247240', 'value': 4}, {'id': '247293', 'value': 1}, {'id': '247298', 'value': 1}, {'id': '247580', 'value': 1}, {'id': '247660', 'value': 2}, {'id': '248170', 'value': 4}, {'id': '248410', 'value': 1}, {'id': '248550', 'value': 1}, {'id': '248650', 'value': 3}, {'id': '248800', 'value': 4}, {'id': '249082', 'value': 1}, {'id': '249330', 'value': 1}, {'id': '249680', 'value': 2}, {'id': '249990', 'value': 3}, {'id': '250380', 'value': 1}, {'id': '250460', 'value': 3}, {'id': '250500', 'value': 16}, {'id': '251310', 'value': 1}, {'id': '251430', 'value': 3}, {'id': '251990', 'value': 15}, {'id': '252070', 'value': 2}, {'id': '252250', 'value': 2}, {'id': '252410', 'value': 3}, {'id': '252630', 'value': 3}, {'id': '252670', 'value': 1}, {'id': '253350', 'value': 1}, {'id': '253370', 'value': 1}, {'id': '253690', 'value': 2}, {'id': '254260', 'value': 1}, {'id': '255300', 'value': 1}, {'id': '256070', 'value': 1}, {'id': '257120', 'value': 1}, {'id': '257400', 'value': 3}, {'id': '258010', 'value': 1}, {'id': '258050', 'value': 1}, {'id': '258090', 'value': 2}, {'id': '258200', 'value': 1}, {'id': '258880', 'value': 1}, {'id': '258950', 'value': 1}, {'id': '259060', 'value': 1}, {'id': '259390', 'value': 2}, {'id': '259530', 'value': 7}, {'id': '259600', 'value': 2}, {'id': '259800', 'value': 2}, {'id': '261700', 'value': 7}, {'id': '262900', 'value': 3}, {'id': '263100', 'value': 3}, {'id': '263380', 'value': 1}, {'id': '263560', 'value': 1}, {'id': '263740', 'value': 3}, {'id': '264610', 'value': 2}, {'id': '265330', 'value': 1}, {'id': '266390', 'value': 2}, {'id': '266590', 'value': 1}, {'id': '267380', 'value': 1}, {'id': '267381', 'value': 2}, {'id': '285050', 'value': 1}, {'id': '286260', 'value': 1}, {'id': '287580', 'value': 1}, {'id': '307990', 'value': 1}, {'id': '321840', 'value': 1}, {'id': '322980', 'value': 1}, {'id': '326480', 'value': 5}, {'id': '362930', 'value': 1}]
[{'id': '108600', 'value': 46}, {'id': '241600', 'value': 44}, {'id': '236090', 'value': 41}]
Los juegos mas recomendados en 2013 son: 1: 'Project Zomboid', 2: 'Rogue Legacy', 3: 'Dust: An Elysian Tail'

In [16]:
games_without_genre = games.drop(columns=['genres'])

## Creando archivo parquet
Se ha determinado que el mejor formato para este caso de uso será el parquet, por lo cual es necesario tener los datasets en dicho formato.

In [17]:
import pyarrow as pa
from pyarrow import Table
import pyarrow.parquet as pq
# Lista de los datos que necesito para los schemas de los parquet
# Games: string, array, string, string, string, string
games_schema = pa.schema([('publisher', pa.string()), ('title', pa.string()), ('id', pa.string()), ('developer', pa.string()), ('año', pa.string())])
# Reviews: string, boolean, int
reviews_schema = pa.schema([('item_id',pa.string()), ('recommend', pa.bool_()), ('sentiment', pa.int8())])

table_games = Table.from_pandas(games_without_genre, schema=games_schema)
table_reviews = Table.from_pandas(reviews_individual, schema=reviews_schema)

pq.write_table(table_games, 'DatasetFinal/games.parquet')
pq.write_table(table_reviews, 'DatasetFinal/reviews.parquet')

## Playtime
Se toman los juegos de los usuarios y se buscan por genero el tiempo jugado

In [4]:
with open('Dataset/users_items.json', 'r', encoding='utf-8') as file:
    rows = [literal_eval(row) for row in file.readlines()]
items = pd.DataFrame(rows)
items = items.drop(columns=['user_url'])
items = items[items['items_count'] != 0]
items = items.sort_values(by='items_count',ascending=False)
items = items.drop_duplicates(subset=['steam_id','user_id'])
items = items[items['user_id'] != items['steam_id']] # Los usuarios deben tener un nombre propio, mientras que el id de steam es único de la plataforma
items
# Eliminar todos los usuarios que no tengan juegos

,user_id,items_count,steam_id,items
3708,phrostb,7762,76561198102767019,"[{'item_id': '300', 'item_name': 'Day of Defea..."
19055,thugnificent,6700,76561198000537256,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
1104,chidvd,6410,76561198001518866,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
6022,piepai,6132,76561198118965684,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
5995,mayshowganmore,5027,76561198048151962,"[{'item_id': '10', 'item_name': 'Counter-Strik..."
...,...,...,...,...
81969,bintangtf2,1,76561198094347615,"[{'item_id': '205790', 'item_name': 'Dota 2 Te..."
55900,SeahuntFTW,1,76561198055203847,"[{'item_id': '620', 'item_name': 'Portal 2', '..."
81966,Ausninja_VH,1,76561198094343094,"[{'item_id': '45400', 'item_name': 'Fortix', '..."
63531,IBPro,1,76561198067988673,"[{'item_id': '4920', 'item_name': 'Natural Sel..."
58962,kradlegnanfx,1,76561198061516930,"[{'item_id': '205790', 'item_name': 'Dota 2 Te..."

In [8]:
p = items['items_count'].values
a = 0
for x in p:
    a += x
print(a)

2914506

In [5]:
items_for_all_users = pd.DataFrame(columns=['item_id', 'item_name','playtime_forever','playtime_2weeks'])
for u in items['user_id']:
    usuario = items[items['user_id'] == u];
    for ui in usuario['items']:
        aux = pd.DataFrame(ui, columns=items_for_all_users.columns)
        items_for_all_users = pd.concat([aux, items_for_all_users],ignore_index=True)
items_for_all_users = items_for_all_users.sort_values(by='playtime_forever',ascending=False)
items_for_all_users

,item_id,item_name,playtime_forever,playtime_2weeks
851822,4000,Garry's Mod,642773,7299
554894,212200,Mabinogi,635295,0
2614921,72200,Universe Sandbox,600068,0
2329376,4000,Garry's Mod,551719,0
2776338,8500,EVE Online,530882,0
...,...,...,...,...
1545176,20540,Company of Heroes: Tales of Valor,0,0
1545175,20530,Red Faction,0,0
1545171,9460,Frontlines: Fuel of War,0,0
1545169,9400,Juiced 2: Hot Import Nights,0,0
2914505,324810,TOXIKK,0,0

In [8]:
items_for_all_users = items_for_all_users[items_for_all_users['playtime_forever'] != 0]

,item_id,item_name,playtime_forever,playtime_2weeks
851822,4000,Garry's Mod,642773,7299
554894,212200,Mabinogi,635295,0
2614921,72200,Universe Sandbox,600068,0
2329376,4000,Garry's Mod,551719,0
2776338,8500,EVE Online,530882,0
...,...,...,...,...
2851290,48000,LIMBO,1,0
1586731,319630,Life Is Strange™,1,0
2526530,212680,FTL: Faster Than Light,1,0
1218047,223650,F.E.A.R. Online,1,0
127804,219540,Arma 2: Operation Arrowhead Beta (Obsolete),1,0

In [9]:
games['genres'] = games['genres'].apply(lambda x : ', '.join(x) if isinstance(x,list) else x)
games['genres'] = games['genres'].str.split(', ')
games = games.explode('genres')
games['genres'].nunique()

22

In [10]:
games['genres'].value_counts() # Se indica que existen mayor cantidad de juegos Indies

genres
Indie                        15704
Action                       11170
Casual                        8238
Adventure                     8149
Strategy                      6891
Simulation                    6655
RPG                           5423
Free to Play                  2005
Early Access                  1441
Sports                        1251
Massively Multiplayer         1093
Racing                        1077
Design &amp; Illustration      460
Utilities                      334
Web Publishing                 265
Animation &amp; Modeling       183
Education                      125
Video Production               112
Software Training              101
Audio Production                88
Photo Editing                   77
Accounting                       7
Name: count, dtype: int64

In [54]:
ugenres = games['genres'].unique()
hour_year_genre = []
g = 'Adventure'
games_with_genre = games[games['genres'] == g]
years = games_with_genre['año'].unique()
print(f'Tiene :{years.__len__()} datos')
for gwg in years:
    playtime_genre = 0
    games_with_genre_year = games_with_genre[games_with_genre['año'] == gwg]
    for gwgy in games_with_genre_year['id']:
        item_sum = items_for_all_users[items_for_all_users['item_id'] == gwgy]
        for x in item_sum['playtime_forever']:
            playtime_genre += x
    playtime_genre = round(playtime_genre/60,0)
    print(f'Ronda: {gwg}')
    hour_year_genre.append({"genero":g,"año":gwg,"horas":int(playtime_genre)})

Tiene :37 datos
Ronda: 2011
Ronda: 2006
Ronda: 1992
Ronda: 1995
Ronda: 2007
Ronda: 2000
Ronda: 2003
Ronda: 2009
Ronda: 2008
Ronda: 2010
Ronda: 2005
Ronda: 2004
Ronda: 1997
Ronda: 1998
Ronda: 2002
Ronda: 1989
Ronda: 1990
Ronda: 2013
Ronda: 1996
Ronda: 2012
Ronda: 1999
Ronda: 1993
Ronda: 2014
Ronda: 2016
Ronda: 2015
Ronda: 2001
Ronda: 2017
Ronda: 1983
Ronda: 1984
Ronda: 1991
Ronda: 1994
Ronda: 1988
Ronda: 2018
Ronda: 1987
Ronda: 1986
Ronda: 2019
Ronda: 2021

In [19]:
playtime = pd.DataFrame(hour_year_genre,columns=['genero','año','horas'])
playtime

       genero   año  horas
0  Accounting  2015      0
1  Accounting  2016      0
2  Accounting  2017      0

In [55]:
aux = pd.DataFrame(hour_year_genre,columns=['genero','año','horas'])
playtime = pd.concat([aux,playtime], ignore_index=True)
playtime

            genero   año    horas
0        Adventure  2011  1801459
1        Adventure  2006     2037
2        Adventure  1992      233
3        Adventure  1995      116
4        Adventure  2007     3782
..             ...   ...      ...
295  Photo Editing  2017        0
296  Photo Editing  2007      146
297     Accounting  2015        0
298     Accounting  2016        0
299     Accounting  2017        0

[300 rows x 3 columns]

In [56]:
import pyarrow as pa
from pyarrow import Table
import pyarrow.parquet as pq

playtime_schema = pa.schema([('genero',pa.string()), ('año', pa.string()), ('horas', pa.int64())])

playtime_table = Table.from_pandas(playtime, schema=playtime_schema)
pq.write_table(playtime_table, 'DatasetFinal/playtime.parquet')

In [16]:
playtime['genero'].value_counts()

genero
Adventure       37
Action          34
Indie           32
Free to Play    20
Simulation      10
Name: count, dtype: int64

In [ ]:
items_list = []
for i in items['items']:
    items_list.append(i)
print(items_list)
items_list = pd.DataFrame(items_list[0])
#print(items_list.describe)

lista2_items = items_list[1:]
print(lista2_items)
for e in lista2_items:
    #print(e)
    aux = pd.DataFrame(e)
    items_list = pd.concat((items_list,aux),ignore_index=True)

items_list

In [ ]:
horas_jugadas_genero = pd.DataFrame(columns=["genero","año","horas jugadas"])

for genero in generos:
    for year in years:
        hora = 0
        for player in lista:
            for l in player:
                aux = games[games['id'] == float(l['item_id'])]
                if aux["año"].values.__len__() == 0:
                   pass
                else:
                    if aux["año"].values[0] == year:
                        if aux["genres"].values[0] == genero:
                            hora += l["playtime_forever"]
        new_record = pd.DataFrame([{"genero":genero,"año":year,"horas jugadas":hora}], columns=horas_jugadas.columns)
        horas_jugadas_genero = pd.concat([new_record, horas_jugadas], ignore_index=True)
horas_jugadas_genero

In [ ]:
horas_jugadas_por_usuario = pd.DataFrame(columns=['user_id','genero','year','horas'])
for genero in generos:
    for year in years:
        horas = 0
        for u in items['user_id']:
            for i in items['items']:
                if 
                for j in i:
                    aux = games[games['id'] == j['item_id']]
                    if aux['id'].count() == 0:
                        pass
                    elif aux['id'].count() == 1:
                        horas += i['playtime_forever']
            print(horas)
            break